@using TabPizzaRestaurant.Data

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits LayoutComponentBase

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="">Galak Pizza</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass"  @onclick="ToggleNavMenu">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                        <span class="material-icons md-18">home</span> Strona domowa
                    </NavLink>                
                </li>

                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="Test/Client">
                                <span class="material-icons md-18">accessibility</span>Test Client 
                            </NavLink>
                        </li>
                      
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Manager">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="Manager/ManageMenu">
                                <span class="material-icons md-18">edit</span>Manage Menu
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="/Manager/phoneOrder">
                                <span class="material-icons md-18">analytics</span>Przyjmij zamówienie
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="/Manager/TableReservations">
                                <span class="material-icons md-18">event_seat</span>Zarezerwuj stolik
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="/Manager/RestaurantStatistics">
                                <span class="material-icons md-18">analytics</span>Raport
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Client">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="client/info">
                                <span class="material-icons md-18">edit</span>Dane konta
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="/client/statistics">
                                <span class="material-icons md-18">analytics</span>Zamówienia
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
     
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="Contact">
                        <span class="material-icons md-18">explore</span> Kontakt
                    </NavLink>
                </li>
            </ul>
        </div>
        <AuthorizeView>
            <Authorized>
                 
                <a class="custom-class text-center col-4 col-sm-3 col-md-3  themed-grid-col mx-2" href="/client/info">Witamy @context.User.Identity.Name</a>
                <a class="custom-class text-center col-4 col-sm-3 col-md-2 themed-grid-col" href="/" @onclick="(() => Logout())">Wyloguj</a>
                 
            </Authorized>
            <NotAuthorized>
              
                <a class="custom-class text-center col-4 col-sm-3 col-md-2  themed-grid-col mx-2" href="/login">Zaloguj się</a>
                <a class="custom-class text-center col-4 col-sm-3 col-md-3 themed-grid-col" href="/register">Zarejestruj się</a>
                
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

@code 
{
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
        NavigationManager.NavigateTo("/");
    }
}