@using TabPizzaRestaurant.Data

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits LayoutComponentBase

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="">Galak Pizza</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass"  @onclick="ToggleNavMenu">
            <ul class="navbar-nav flex-grow-1">

                <Authorized>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                        <span class="material-icons">home</span> Strona domowa
                    </NavLink>                
                </li>
                </Authorized>

                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="Test/Client">
                                <span class="material-icons">accessibility</span> Testowanie klientów 
                            </NavLink>
                        </li>
                      
                    </Authorized>

                </AuthorizeView>
                <AuthorizeView Roles="Manager">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="Manager/ManageMenu">
                                <span class="material-icons">edit</span> Zarządzaj menu
                            </NavLink>
                        </li>
                          <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="/Manager/statistics">
                                <span class="material-icons">analytics</span> Statystyki
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="Manager/phoneOrder">
                                <span class="material-icons">add</span> Dodaj zamówienie
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="client/reservation">
                                <span class="material-icons">event_seat</span> Rezerwuj stolik
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
     
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="Contact">
                                <span class="material-icons">contact_page</span> Kontakt
                            </NavLink>
                        </li>
                    </Authorized>
                

            </ul>
        </div>
        <AuthorizeView>
            <Authorized>
                <a class="custom-class text-center col col-sm-3 col-md-3 themed-grid-col" href="/myAccount">Witamy @context.User.Identity.Name</a>
                <a class="custom-class text-center col col-sm-2 col-md-2 themed-grid-col" href="/" @onclick="(() => Logout())">Wyloguj się</a>
            </Authorized>
            <NotAuthorized>
                <a class="custom-class text-center col col-sm-2 col-md-2 themed-grid-col" href="/login">Logowanie</a>
                <a class="custom-class text-center col col-sm-2 col-md-2 themed-grid-col" href="/register">Rejestracja</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

@code 
{
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
        NavigationManager.NavigateTo("/");
    }
}