@page "/"

@using Repository.RepositoryServices
@using Models
@using DataBaseAccess.Models

@inject Repository.RepositoryServices.RepositoryStorage Storage

<center>
    <h1 class="display-4">Witamy w Galak Pizza!</h1>
</center>
<hr class="my-4">

@if (menu is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="box-shadow">
        <center>
            <div class="text-center">
                <h3>Menu</h3>
            </div>

            <div class="container">
                <div class="row mb-3">
                    <div class="custom-class text-center text-white col-md-8 themed-grid-col-naglowek">Nazwa</div>
                    <div class="custom-class text-center text-white col-6 col-md-4 themed-grid-col-naglowek">Cena za pizzę [PLN]</div>
                </div>

                @foreach (var pizza in menu)
                {
                    if (pizza.IsAvailable)
                    {
                        <div class="row mb-3">
                            <div class="custom-class text-center col-md-8 themed-grid-col">@pizza.Type</div>
                            <div class="custom-class text-center col-6 col-md-4 themed-grid-col">@pizza.Price</div>
                        </div>
                    }
                }
            </div>
        </center>
    </div>
}

<hr class="my-4"/>
<div class="text-center">
    <h5><span class="material-icons">phone</span> 999 998 997</h5>
</div>

@code
{
    private List<Pizza> menu;

    protected override async Task OnParametersSetAsync()
    {
        menu = await Storage.GetMenu();
    }
}